In [1]:
# lambda arguments : expression

x = lambda p : p + 10
print(x(5))

15

In [2]:
# lambda function can take any number of arguments

y = lambda a, b : a * b
print(y(2,2))

4

In [3]:
z = lambda a, b, c : (a * b) - c
print(z(2,3,1))

5

In [4]:
def my_func(n):
    return lambda a, b, c : (a + b + c) * n # Although "my_func" only takes one argument, lambda can take any number of arguments


double_ope = my_func(2)
print(double_ope(1,2,3))

12

In [8]:
def my_func1(n):
    return lambda a : a * n
doubler = my_func1(2)
tripler = my_func1(3)

print(doubler(11))
print(tripler(11))

22
33

## Array

In [9]:
cars = ["Toyota","Honda","Subaru"]
cars[0]

'Toyota'

In [10]:
cars[0] = "Honda"
cars[0]

'Honda'

In [11]:
cars

['Honda', 'Honda', 'Subaru']

In [15]:
x = len(cars) #length of an array
x
cars[0] = "Toyota"

In [16]:
for i in cars:
    print(i)

Toyota
Honda
Subaru

In [17]:
cars.append("Matsuda") # append to add
cars

['Toyota', 'Honda', 'Subaru', 'Matsuda']

In [22]:
cars.pop(2) # pop to remove 
cars

['Toyota', 'Honda']

In [23]:
cars.clear() # remove all the elements from the array/list

In [28]:
airport = ["DCA","IAD","BWI"]
airport.count("DCA") # returns the number of the element put in ()

1

In [32]:
# add each element of a list to the end of the list/array
airport.extend("LAX")

In [33]:
airport

['DCA', 'IAD', 'BWI', 'L', 'A', 'X', 'L', 'A', 'X']

In [35]:
airport.index("L") 
# returns the index of the first element of the specified value
# It's first element!

3

In [36]:
airport.remove("L") # removes the first element of the specified value
airport

['DCA', 'IAD', 'BWI', 'A', 'X', 'L', 'A', 'X']

In [39]:
# reverse the order
airport.reverse()
airport

['DCA', 'IAD', 'BWI', 'A', 'X', 'L', 'A', 'X']

In [43]:
airport.sort()
airport

['A', 'A', 'BWI', 'DCA', 'IAD', 'L', 'X', 'X']