In [2]:
# set
thisset = {"DC",12,34}
print(thisset)

{'DC', 34, 12}

In [3]:
# True and 1, False and 0 are considered the same value in sets.
thisset_1 = {"A",1,0,True,False,0,1,True}
print(thisset_1)

{0, 1, 'A'}

In [4]:
thisset_2 = {"True",True,False}
print(len(thisset_2))

3

In [5]:
# Set items can be of any data type
set1 = {True,False,False}

set2 = {"True","False","False"}

In [6]:
print(type(set2))

<class 'set'>

In [7]:
# set() also makes the set but note the double-bracket
thisset_3 = set(("DC","NY","())(UA)"))
print(thisset_3)

{'DC', 'NY', '())(UA)'}

In [8]:
# List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Dictionary is a collection which is ordered** and changeable. No duplicate members.
# https://www.w3schools.com/python/python_sets_access.asp

In [12]:
for i in thisset:
    print(i)

DC
34
12

In [18]:
thisset = {"apple is good!","B","C","D"}
print("apple is good" in thisset)

False

In [22]:
# You can also add an element
thisset = {"apple is good!","B","C","D"}
thisset.add("orange")
print(thisset)

{'D', 'orange', 'B', 'C', 'apple is good!'}

In [26]:
# adding elements from another set to an existing set
thisset = {"apple is good!","B","C","D"}
anotherset = {"a","b","c"}
thisset.update(anotherset)
print(thisset)

{'B', 'b', 'D', 'apple is good!', 'c', 'a', 'C'}

In [32]:
anotherset = {"a","b","c"}
mylist = ["AAA","BBB","c"]
anotherset.update(mylist)
print(anotherset)

{'b', 'BBB', 'c', 'AAA', 'a'}

In [36]:
# To remove, same as other cases such as list or array
anotherset.remove("b")
print(anotherset)

{'BBB', 'c', 'AAA'}

In [37]:
# You could use discard too to remove an element
anotherset.discard("c")
print(anotherset)

{'BBB', 'AAA'}

In [39]:
#  sets are UNORDERED: pop() randomly selects one element
anotherset.pop()

'AAA'

In [40]:
del anotherset

In [58]:
# union and update add two sets together but exclude duplicate items

set1 = {"a","b","c"}
set2 = {1,2,3,"b","b"}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [45]:
set3.intersection_update(set1)
print(set3)

{'b', 'c', 'a'}

In [54]:
# intersection is like inner join

set3.intersection(set2)

AttributeError: 'NoneType' object has no attribute 'intersection'

In [67]:
set1.symmetric_difference_update(set4)
print(set1)

{'b', 'c', 'a'}

In [65]:
set4 = {"aaaa","bbbb"}

In [63]:
print(set1)

{'b', 'c', 'a'}

In [61]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'microsoft', 'cherry', 'banana'}

In [62]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'microsoft', 'cherry', 'banana'}

In [71]:
mydictionary = {
    "zipcode" : 20016,
    "state": "DC",
    "housing type": "rent"
}
print(mydictionary["zipcode"])

20016

In [72]:
# to get the number of items in the dictionary
print(len(mydictionary))

3

In [1]:
# dictionary can take string, int, boolean, list data type

newdict = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "color": ["red", "white", "blue"]
}

print(newdict["color"])

['red', 'white', 'blue']

In [2]:
thatdict = dict(name = "Ryo",
                age = 27,
                country = "Japan")
print(thatdict["name"])

Ryo

In [5]:
x = thatdict.get("country")
print(x)

Japan

In [6]:
# keys() will return a list of all the keys

keys = thatdict.keys()
print(keys)

dict_keys(['name', 'age', 'country'])

In [7]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()
print(x)

In [10]:
# adding the key and its element

car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [13]:
# return a list of values in the dictionary

x = thatdict.values()
print(x)

dict_keys(['name', 'age', 'country'])

In [14]:
thatdict["born"] = "Shiga"
print(thatdict)

{'name': 'Ryo', 'age': 27, 'country': 'Japan', 'born': 'Shiga'}

In [15]:
# return each item in a dictionary as tuples
x = thatdict.items()
print(x)

dict_items([('name', 'Ryo'), ('age', 27), ('country', 'Japan'), ('born', 'Shiga')])

dict_items([('name', 'Ryo'), ('age', 27), ('country', 'Japan'), ('born', 'Shiga')])