In [9]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [10]:
nfl_frame = pd.read_clipboard() # show the copied material *super useful

In [11]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East

In [12]:
nfl_frame.columns # show each column

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [13]:
nfl_frame.Team #object name.column name shows what the column has.

0          Dallas Cowboys
1       Green Bay Packers
2        Baltimore Ravens
3    New England Patriots
4           Chicago Bears
5          Miami Dolphins
Name: Team, dtype: object

In [14]:
nfl_frame['First NFL season'] # if a column has more than one word, use [] brakets.and

0    1960
1    1921
2    1996
3    1960
4    1920
5    1966
Name: First NFL season, dtype: int64

In [15]:
DataFrame(nfl_frame,columns = ['Rank','Team','Won','Lost','Place']) # if the argument has a column that doesn't exist
# it shows like below

   Rank                  Team  Won  Lost  Place
0     1        Dallas Cowboys  550   408    NaN
1     2     Green Bay Packers  790   590    NaN
2     3      Baltimore Ravens  243   190    NaN
3     4  New England Patriots  537   420    NaN
4     5         Chicago Bears  786   624    NaN
5     6        Miami Dolphins  485   393    NaN

In [16]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East

In [17]:
nfl_frame.head(2) #show first 5 rows without argument inside ()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North

In [18]:
nfl_frame.tail(2) #show the last the number of () rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East

In [21]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East

In [22]:
nfl_frame.ix[3] # ix for "index"

AttributeError: 'DataFrame' object has no attribute 'ix'

In [23]:
nfl_frame['Stadium'] = "Levi's Stadium" #fill the the same column by [xxx]

In [24]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Levi's Stadium
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Levi's Stadium
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,Levi's Stadium

In [29]:
nfl_frame['Stadium'] = np.arange(6) #check the number of valid rows

In [30]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,4
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,5

In [33]:
stadiums = Series(["Levi's Stadium","AT&T Stadiuam"],index = [2,0])

In [34]:
stadiums # assign the series

2    Levi's Stadium
0     AT&T Stadiuam
dtype: object

In [35]:
nfl_frame['Stadium'] = stadiums 
# based on the assigned series, Levi's is 2 and AT&T is now 0

In [36]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,AT&T Stadiuam
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,NaN
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Levi's Stadium
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,NaN
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,NaN
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,NaN

In [37]:
del nfl_frame['Stadium'] # delete the specific column

In [38]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East

In [42]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,840000],'State':['CA','CA','NY']}

In [43]:
city_frame = DataFrame(data)

In [44]:
city_frame

  City  Population State
0   SF      837000    CA
1   LA     3880000    CA
2  NYC      840000    NY