In [6]:
import pandas as pd
from pandas import DataFrame,Series
import os
os.getcwd()

'/Users/ryotanaka/Udemy'

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in /Users/ryotanaka/opt/anaconda3/lib/python3.9/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/ryotanaka/opt/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /Users/ryotanaka/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
xlsfile = pd.ExcelFile('ev_data.xlsx') 
#pd.ExcelFile is needed to install an excel file

In [9]:
xlsfile

In [14]:
dframe = xlsfile.parse('ev_range') # select a sheet
dframe

     Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3
0    Model Year       Make        Model      Range
1          2002       Ford       Th!nk*         50
2          2008      Tesla   Roadster**        220
3          2010      Tesla   Roadster**        200
4          2011        BMW  Active E***         94
..          ...        ...          ...        ...
119        2021      Tesla      Model 3        310
120        2021      Tesla      Model S        361
121        2021      Tesla      Model X        337
122        2021      Tesla      Model Y        315
123        2021      Volvo         XC40        208

[124 rows x 4 columns]

In [15]:
dframe.head

<bound method NDFrame.head of      Unnamed: 0 Unnamed: 1   Unnamed: 2 Unnamed: 3
0    Model Year       Make        Model      Range
1          2002       Ford       Th!nk*         50
2          2008      Tesla   Roadster**        220
3          2010      Tesla   Roadster**        200
4          2011        BMW  Active E***         94
..          ...        ...          ...        ...
119        2021      Tesla      Model 3        310
120        2021      Tesla      Model S        361
121        2021      Tesla      Model X        337
122        2021      Tesla      Model Y        315
123        2021      Volvo         XC40        208

[124 rows x 4 columns]>