In [78]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib as jl
from sklearn import tree

In [6]:
df = pd.read_csv("music.csv")
df.shape # (row, column)

(18, 3)

In [7]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [11]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [70]:
# making test set and training set
X = df.drop(columns = ["genre"])
y = df["genre"]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [71]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions = model.predict(X_test) # input should be two variables of training set [age,gender]

In [72]:
score = accuracy_score(y_test,predictions)
score

1.0

In [76]:
jl.dump(model, "music.jl") # visualizing a tree

['music.jl']

In [77]:
model = jl.load("music.jl") # assigning the model to "model"
predictions = model.predict([[21,1]])
predictions

/Users/ryotanaka/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

In [79]:
df = pd.read_csv("music.csv")
X = df.drop(columns = ["genre"])
y = df["genre"]

model = DecisionTreeClassifier()
model.fit(X,y)

tree.export_graphviz(model,
                     out_file = "music_recommender.dot",
                     class_names = sorted(y.unique()),
                     label = "all",
                     rounded = True,
                     filled = True)