In [2]:
import pandas as pd

data = [[1,15],[2,11],[3,11],[4,20]]
df = pd.DataFrame(data, columns = ["student_id","age"])
print(df)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [16]:
df.loc[0:2,"age"] # selecting rows by number and column by name

0    15
1    11
2    11
Name: age, dtype: int64

In [17]:
df.loc[df["age"] == 20,:] # selecting rows df["column_name",:]

   student_id  age
3           4   20

In [11]:
df.loc[df["student_id"] == 1,["student_id","age"]]

   student_id  age
0           1   15

In [14]:
list(df.shape) # shape will return rows and columns

[4, 2]