In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [4]:
ser1 = Series([1,2,3,4,1,2,3,4])
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [10]:
ser1.replace(1,np.nan)
# data frame.replace(a value that will be replace,an incoming value )

0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
5    2.0
6    3.0
7    4.0
dtype: float64

In [12]:
ser1.replace([1,4],[100,400])
# dataframe.replace([A,B],[A's replacement,B's replacement])

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [13]:
ser1.replace({4:np.nan})
# you can also use dictionary in replace function
# above every "4", null value will be input.

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    2.0
6    3.0
7    NaN
dtype: float64